.container{ /*no*/
  width: 85px;
  z-index: 1;
  margin: 5px;
  cursor: pointer;
  text-align: left;
  z-index: 0;
//padding: 5px;
}
.dropDownControl{ /*no*/
  direction: ltr;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  position: relative;
  font-family: Arial, sans-serif;
  -webkit-user-select: none;
  font-size: 13px;
  padding: 1px 6px 1px 0px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: rgb(113, 123, 135);
  border-image: initial;
  -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
  color: rgb(0, 0, 0);
  padding-left: 6px;
  font-weight: bold;
  background-image: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  background-position: initial initial;
  background-repeat: initial initial;
  z-index: 2;
}

.dropDownArrow{ /*no*/
  -webkit-user-select: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  padding: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -2px;
  width: 7px;
  height: 4px;
}

.dropDownOptionsDiv{ /*no*/
  background-color: white;
  z-index: 0; /*need this to make the box look cool, but this stops the hover and title from working on items in the box! */
  padding-top: 2px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: rgb(113, 123, 135);
  border-bottom-color: rgb(113, 123, 135);
  border-left-color: rgb(113, 123, 135);
  border-image: initial;
  border-top-width: 0px;
  border-top-style: initial;
  border-top-color: initial;
  -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
  position: relative;
  text-align: left;
  display: none;
}

.dropDownItemDiv{ /*no*/
  font-family: Arial, sans-serif;
  -webkit-user-select: none;
  font-size: 13px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
  background-color: rgb(255, 255, 255);
  color: black;
  /*font-weight: bold;*/
}
.dropDownItemDiv:hover, .checkboxContainer:hover{ /* b7*/
  background-color: rgb(235, 235, 235);
}
.dropDownControl:hover, .button:hover{ /*no*/
  background: -webkit-linear-gradient(top,rgb(255,255,255),rgb(230,230,230));
}
.separatorDiv{ /**/
  margin-top: 1px;
  margin-right: 0px;
  margin-bottom: 1px;
  margin-left: 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(235, 235, 235);
}
.checkboxContainer{ /*7*/
  font-family: Arial, sans-serif;
  -webkit-user-select: none;
  font-size: 11px;
  padding: 1px 3px 3px 3px;
  /*padding-top: 1px;*/
  /*padding-bottom: 3px;*/
  /*padding-left: 5px;*/
  /*padding-right: 8px;*/
  direction: ltr;
  text-align: left;
  background-color: rgb(255, 255, 255);
  white-space: nowrap;
  color: rgb(0, 0, 0);
}
.checkboxSpan{ /*8*/
  box-sizing: border-box;
  position: relative;
  line-height: 0;
  font-size: 0px;
  margin: 0px 5px 0px 0px;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  border-radius: 1px 1px 1px 1px;
  width: 13px;
  height: 13px;
  vertical-align: middle;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: rgb(198, 198, 198);
}


.blankDiv{ /*8*/
  position: absolute;
  left: 1px;
  top: -2px;
  width: 13px;
  height: 11px;
  overflow-x: hidden;
  overflow-y: hidden;
  /*display: none; !*when = block -> this is the "check" symbol*!*/
  display: block; /*when = block -> this is the "check" symbol*/
}

.blankImg{ /*8*/
  position: absolute;
  left: -52px;
  top: -44px;
  -webkit-user-select: none;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  padding: 0px;
  margin: 0px;
  -webkit-user-drag: none;
  width: 68px;
  height: 67px;
}

.checkboxLabel{ /*7*/
  vertical-align: middle;
  cursor: pointer;
}
.button{ /*no*/
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  text-align: center;
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight:bold;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px;
  color: #000;
  border: 1px solid #717B87;
  background-color: #fff;
  margin: 5px;
  padding: 1px 6px;
  overflow: hidden;
}

.button-selected { /* no used in g2 */
  font-weight: bold;
}
